<?php
/**
 * @author Ferdy Perdaan
 * @version 1.0
 *
 * Config file run used in order to load some pre-wordpress configuration.
 */

define('CACHE_ENGINE_ENABLED', %ENABLED%);

XLII_Cache_Manager::import(%EXPORT%);